/*
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
*/

/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #626262;
}
/*common end*/
/*header start*/

header{
 padding: 25px 0 ;
 /*border :1px solid black;*/


}
.wrapper{
	overflow: hidden;

	width: 90%;
	border:1px solid red;
	margin: 0 auto;

}
.logo{
	margin-top: 10px;
	float: left;
	width: 13%;
	/*border:1px solid green;*/
}
.logo img{
width: 100%;
}
.menu{float: right;
	width: 70%;
	/*border:1px solid red;*/
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	margin: 0 50px;
    font-size: 16px;
    font-weight: 
    color:#626262;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 3px;
	display: inline-block;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
margin-right: 0;
	
}
.menu ul li a:hover {
	border-bottom: 1px solid #626262;
};
/*header end*/
/*banner start*/
.banner{}
.banner img{
width: 100%;

}

/*banner end*/
/*perfect start*/
.perfect{
	padding: 70px 0;
}
.wrapper2{
	width: 80%;
	margin: 0 auto;
	border:1px solid green;
}
.p_content{}
.c_light{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 14px;
	color: #626262;
    text-transform: uppercase;

}
.c_h{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: 400;
}
.c_p{
	margin: 0;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 25px;
}
.mt_35{
	margin-top: 35px;
}
/*perfect end*/

.blog{}
.single{
	width: 45%;
	border:1px solid red;

}
.single img{
	width: 100%;
	margin-bottom: 5%;
}

/*blog end*/